
@import url(base.css);
@import url(reset.css);
.a1 {
    text-decoration: none;
    color: white !important;
    cursor: pointer;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-3 {
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex: 0 0 100%;
}
.col-4f {
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex: 0 0 100%;
}
.col-5c {
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex: 0 0 100%;

}
.col-f {
    width: 50%;
    padding-left:15px;
    box-sizing: border-box;
    flex: 0 0 50%;
    li{
        border-bottom: 1px solid transparent;
        float: left;
        &:hover {
            border-bottom: 1px solid #29b078;
        }
    }
    
}
.col-b {
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex: 0 0 100%;
}
.nav-display {

    
}
#nav-box {
    display: none;
}
.button {
    position: absolute;
    right: 10%;
    top: 30px;
   z-index: 999;
   width: 35px;
   height: 20px;
   display: none
}
.button1 {
    position: absolute;
    right: 10%;
    top: 30px;
    display: none;
    width: 35px;
    box-shadow: 
    5px 0px 0px 1px #fff,
    5px 10px 0px 1px #fff,
    5px 20px 0px 1px #fff;
    
}

.nav-mobile {
    position: absolute;
    right: 20%;
    top: 10%;
}
.nav-wrap {
    //display: none;
}
.nav-wrap {
    margin-top: 24px;
    height: 0;
    margin-left: 50%;
    line-height: 2;
    transition: height 1s;
    li:first-child {
        margin-top: 31px;
    }
}

#nav-box:checked ~ .nav-wrap {
    height: 140px;
}

@media (min-width:576px) {
    .col-md-3 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}
@media (max-width:768px) {
    .pro-padding{
        
        margin-left:15%;
    }
    .nav-mobile {
        display: block;
    }
    .nav-wrap {
        //display: block;
    }
    .button1 {
        display: block;
    }
    .button {
        display: block;
    }
}
@media (min-width:768px){
    .col-md-3{
        max-width: 25%;
        flex: 0 0 25%;
    }
    .col-b {
        width: 33.3%;
        flex: 0 0 33.3%;
    }
}
@media (min-width: 576px) {
    .container {
      width: 540px;
    }
  }
  .text-center2 {

  }
  @media (max-width: 576px) {
    .container {
      width: 95%;
    }
    .text-center2 {
        text-align: center;
        
    }
  }

@media (min-width: 768px) {
    .container {
      width: 720px;
    }
    .col-4f {
        width: 50%;
        flex: 0 0 50%;
    }
    .col-5c {
        width: 50%;
        flex: 0 0 50%;
    }
    .col-f {
        width: 20%;
        flex: 0 0 20%;
    }
    
  }
  
  @media (max-width: 768px) {
    .nav-display {
        display: none;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .col-4f {
        width: 25%;
        flex: 0 0 25%;
    }
    .col-5c {
        width: 20%;
        flex: 0 0 20%;
    }
    .col-f {
        width: 10%;
        flex: 0 0 10%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  @media (max-width:576px) {
    .button {
        right: 6%;
    }
    .button1 {
        right: 6%;
    }
}

.header-icon1 {
    width: 1.3rem;
    height:1.3rem;
    border: 1px solid #29b078;
    margin-right: 0.5rem;
    background: url(../image/01.png) no-repeat 50%;
}
.header-icon2 {
    width: 1.3rem;
    height:1.3rem;
    margin-right: 0.5rem;
    border: 1px solid #29b078;
    background: url(../image/02.png) no-repeat 50%;
}
.header-icon3 {
    width: 1.3rem;
    height:1.3rem;
    border: 1px solid #29b078;
    background: url(../image/03.png) no-repeat 50%;
}
.nav-logo {
    position: absolute;
    top:10px;
    width: 10.8rem;
    height: 3.5rem; 
    background: url(../image/it-logo.png) no-repeat;
    zoom: 0.5;
    
}
.margin-right {
    margin-right: 2rem;
}
.nav-padding {
    padding-top:1.5rem;
    
    li {
       span{
           padding-bottom: 24px;
       border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid #fff;
        }
        }
    }
}
.nav-padding2 {
    padding-bottom: 1.5rem;
    overflow: hidden;
}

